
/* Classe com escopo local (funcionam somente no componente) */

.luz {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #ffffff;
}

.vermelho {
    background-color: red;
}

.amarelo {
    background-color: yellow;
}

.verde {
    background-color: green;
}

.laranja {
    background-color: orange;
}

.cinza {
    background-color: gray;
}